<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>timezone-expander</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4A009174-DD5C-40F8-9CA7-3C9985E9D292</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CAE867E-8A3A-4A4C-B5B0-7E2BEB324369</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A920179-B636-4465-A1F1-66C544A085CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A009174-DD5C-40F8-9CA7-3C9985E9D292</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Devon Zuegel</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Timezone expander</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7CAE867E-8A3A-4A4C-B5B0-7E2BEB324369</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tz</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Timezone expander</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8A920179-B636-4465-A1F1-66C544A085CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A009174-DD5C-40F8-9CA7-3C9985E9D292</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Snippet Trigger example workflow contains 4 types of actions:

1. Triggering a system command
2. Running a script and pasting the output text
3. Requiring you enter free text and pasting the output
4. Choosing from a list and pasting the output

You'll find out more about this feature in the Snippet Trigger object documentation on our website.

Need help with workflows? Pop by the forum (alfredforum.com) if you have any further questions :)</string>
	<key>uidata</key>
	<dict>
		<key>4A009174-DD5C-40F8-9CA7-3C9985E9D292</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>7CAE867E-8A3A-4A4C-B5B0-7E2BEB324369</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8A920179-B636-4465-A1F1-66C544A085CD</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>devonzuegel.com</string>
</dict>
</plist>
